mixin video(info)
    a(href=`/videos/${info.id}`).video-mixin
        div.video-mixin__thumb(style=`background-image:url(/${info.thumbnailUrl}); background-size:cover; background-position:center;`)
        div.video-mixin_data
            span.video-mixin__title=info.title
            div.video-mixin__meta 
                div.video-mixin__creator #{info.owner.name}
                span #{info.meta.views}회
