extends base.pug

block content
    div#videoContainer(data-videoId=video._id)
        video(src=`${video.fileUrl}`)
        div#videoControls.videoControls
            div.videoControls__play 
                span#play.videoControls__playBtn
                    i.fas.fa-play
                div.videoControls__time
                    span#currentTime 00:00
                    span  / 
                    span#totalTime 00:00
            input(type="range" step="1" value=0 min="0")#timeline.videoControls__timeline
            div.videoControls__volume
                input(type="range" step="0.1" value=0.5 min="0" max="1")#volume
                span#mute
                    i.fas.fa-volume-up
            div 
                span#fullScreen 
                    i.fas.fa-expand
    div.videoMeta
        h2.videoTitle=video.title
        p.videoDescription=video.description
        p.videoHashTag=video.hashtags.join(" ")
        span Uploaded by 
        a.videoCreator(href=`/users/${video.owner._id}`) #{video.owner.name}
        span  at #{video.createdAt.toLocaleDateString()}
    if loggedIn
        div.videoAddComment
            form.videoComment__form#commentForm
                textarea( placeholder="Write Comment")
                button Add Comment
    div.videoComment
        ul
            each comment in video.comments.reverse()
                li.comment(data-id=comment.id)
                    i.fas.fa-comment
                    p #{comment.text}
                    if String(loggedInUser._id) === String(comment.owner)
                        span.deleteBtn ❌
                
block scripts
    script(src="/static/js/videoPlayer.js")
    if loggedIn
        script(src="/static/js/commentSection.js")