extends base.pug

block content 
    div
        h2=video.title
        p=video.description
        small=video.createdAt.toDateString()
        p #{video.meta.views} #{video.meta.views > 1 ? "views" : "view"}
        small=video.hashtags.join(" ")
    a(href=`${video.id}/edit`) Edit Video
    br
    a(href=`${video.id}/delete`) Delete Video
        