extends base.pug

block content 
    video(src=`/${video.fileUrl}` controls)
    div
        h2=video.title
        p=video.description
        small Created At #{video.createdAt.toDateString()} 
    div
        small Uploaded by 
            a(href=`/users/${video.owner._id}`) #{video.owner.name}
        p #{video.meta.views} #{video.meta.views > 1 ? "views" : "view"}
        small=video.hashtags.join(" ")
    if String(video.owner._id) === String(loggedInUser._id)
        a(href=`${video.id}/edit`) Edit Video
        br
        a(href=`${video.id}/delete`) Delete Video
        