extends ../base

block content 
    if errorMessage
        p=errorMessage
    form(method="POST" enctype="multipart/form-data").edit-profile__form
        label(for="avatar") Avatar
        input(name="avatar" type="file" id="avatar" accept="image/*")
        input(name="email" type="email" value=loggedInUser.email placeholder="Email" required)
        input(name="username" type="text" value=loggedInUser.username placeholder="Username" required)
        input(name="name" type="text" value=loggedInUser.name placeholder="Name" required)
        input(name="location" type="text" value=loggedInUser.location placeholder="Location")
        input(type="submit" value="Update Profile")
        if !loggedInUser.socialLogin
            div.edit-profile_password 
                a(href="change-password") Change Password
        
        